body {
	font-family: "PT-Sans";
	font-size: 16px;
	color: $grey;
}
a {
	transition: .3s;
}
p {
	padding-bottom: 20px;
}
.wrapper {
	@include wrapper();
}
.mobile-hide {
	@media (max-width: $break_sm) {
		display: none;
	}
}
.mobile-visible {
	@media (min-width: $break_sm + 1) {
		display: none;
	}
}
.center-mobile {
	@media (max-width: $break_sm) {
		text-align: center;
	}
}
.flex {
	display: flex;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-center-mobile {
	@media (max-width: $break_sm) {
		justify-content: center;
	}
}
.flex-top {
	align-items: flex-start;
}
.flex-bottom {
	align-items: flex-end;
}
.padding10 {
	padding: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 60px;
	@media (max-width: $break_md) {
		padding: 30px 0;
	}
	@media (max-width: $break_sm) {
		justify-content: center;
		padding: 10px 0px;
	}
}
.logo {
	display: block;
	width: 250px;
	height: 36px;
	background-image: url(../img/logo.png);
	background-size: cover;
	&:hover {
		background-image: url(../img/logo-hover.png);
	}
}
.menu {
	&_nav {
		
	}
	&_list {
		text-align: center;
	}
	&_item {
		display: inline-block;
		vertical-align: middle;
	}
	&_link {
		display: block;
		padding: 10px 0;
		margin: 0 30px;
		text-decoration: none;
		font-size: 20px;
		color: $greyLight;
		&:hover {
			color: $brown;
			transform: translate(0,-1px);
		}
	}
	@media (max-width: $break_md) {
		&_link {
			margin: 0 15px;
		}
	}
	@media (max-width: $break_sm) {
		width: 100%;
		margin-top: 10px;
		&_link {
			margin: 0 5px;
			font-size: 14px;
		}
	}
}

.first-screen {
	padding-left: 50px;
	@media (max-width: $break_md) {
		padding-left: 0;
	}
}

.philosophy {

}
.noise-vertical {
	display: inline-block;
	width: 80px;
	height: 70%;
	background-image: url(../img/noise.jpg);
	margin-right: 30px;
	transition: .3s;
	&:hover {
		background-image: url(../img/noise-hover.jpg);
	}
	@media (max-width: $break_sm) {
		display: none;
	}
}
.noise-horizontal {
	height: 80px;
	background-image: url(../img/noise.jpg);
	transition: .3s;
	&:hover {
		background-image: url(../img/noise-hover.jpg);
	}
	@media (max-width: $break_sm) {
		display: none;
	}
}
.line {
	height: 3px;
	background-color: #ececec;
	margin: 30px 0 0 50px;
	@media (max-width: $break_md) {
		margin: 30px 0;
	}
}
.title {
	padding-bottom: 80px;
	font-family: "Times";
	font-size: 20px;
	font-weight: normal;
	color: $black;
}
.row {
	display: flex;
	padding-left: 150px;
	padding-bottom: 50px;
	@media (max-width: $break_md) {
		@include row-flex();
		padding-left: 0;
	}
}
.half-block {
	@include col(6);
	@include col-sm(12);
}
.padding-right {
	padding-right: 100px;
	@media (max-width: $break_md) {
		padding-right: 0;
	}
}
.padding-left {
	padding-left: 100px;
	@media (max-width: $break_md) {
		padding-left: 0;
	}
}
.padding-top {
	padding-top: 20px;
}
.text-right {
	text-align: right;
	@media (max-width: $break_sm) {
		text-align: center;
	}
}

.team {

}
.portrait {
	padding: 5px;
	&_description {
		padding: 10px 20px 20px 20px;
		font-size: 14px;
		color: $greyLight;
	}
	@media (max-width: $break_sm) {
		text-align: center;
	}
}
.another {
	width: 54%;
	background-image: url(../img/another.jpg);
	background-size: cover;
	transition: .3s;
	&:after {
		content: '';
		display: block;
		padding-top: 120%;
	}
	&:hover {
		background-image: url(../img/another-hover.jpg);
	}
	@media (max-width: $break_sm) {
		display: none;
	}
}

.done {
	&_img {
		text-align: center;
		padding: 50px 0;
		&--nofull {
			text-align: left;
			img {
				width: auto !important;
			}
		}
		img {
			width: 100%;
		}
	}
	&_row {
		padding-left: 0;
	}
	&_half-img {
		display: flex;
	}
	@media (max-width: $break_sm) {
		&_img {
			padding: 10px 0;
		}
		&_half-img {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}
.half-img {
	padding-right: 50px;
	@media (max-width: $break_sm) {
		padding-right: 0;
	}
}
.slider {
	position: relative;
	padding-left: 150px;
	margin-bottom: 50px;
	&Button {
		font-size: 80px;
		color: #ccc;
		position: absolute;
		top: 50%;
		cursor: pointer;
		transition: .3s;
		&_prev {
			left: 200px;
			transform: translate(-50%,-50%);
		}
		&_next {
			right: 50px;
			transform: translate(50%,-50%);
		}
		&:hover {
			color: #fff;
		}
		@media (max-width: $break_md) {
			font-size: 60px;
			&_prev {
				left: 50px;
			}
		}
		@media (max-width: $break_sm) {
			font-size: 40px;
		}
	}
	@media (max-width: $break_md) {
		padding-left: 0;
	}
}

.callback {
	&_btn {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 13px 40px;
    text-decoration: none;
    color: $grey;
    &:hover {
    	background: $brown;
	    color: white;
	    border-color: transparent;
    }
	}
	&_text {
		padding-bottom: 0;
	}
	&_link {
		display: inline-block;
		margin-bottom: 20px;
		color: $grey;
		text-decoration: none;
		&:hover {
			color: $brown;
			transform: translate(10px,0);
		}
	}
}
.social {
	margin-top: 20px;
	a {
		display: inline-block;
		padding: 10px;
		margin-right: 10px;
		text-decoration: none;
		color: $black;
		&:hover {
			color: $brown;
			transform: translate(0,-1px);
		}
		&:first-child {
			margin-left: -10px;
		}
	}
}